xml-resources/web-service-references/Service/wsdl/localhost_8080/ServidorCines/Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/ServidorCines/Service?xsd=1"/>
</xsd:schema>
</types>
<message name="asignarCampo">
<part name="parameters" element="tns:asignarCampo"/>
</message>
<message name="asignarCampoResponse">
<part name="parameters" element="tns:asignarCampoResponse"/>
</message>
<message name="consultaCampo">
<part name="parameters" element="tns:consultaCampo"/>
</message>
<message name="consultaCampoResponse">
<part name="parameters" element="tns:consultaCampoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="listaPeli">
<part name="parameters" element="tns:listaPeli"/>
</message>
<message name="listaPeliResponse">
<part name="parameters" element="tns:listaPeliResponse"/>
</message>
<message name="getTipo">
<part name="parameters" element="tns:getTipo"/>
</message>
<message name="getTipoResponse">
<part name="parameters" element="tns:getTipoResponse"/>
</message>
<message name="getHora">
<part name="parameters" element="tns:getHora"/>
</message>
<message name="getHoraResponse">
<part name="parameters" element="tns:getHoraResponse"/>
</message>
<message name="getImagen">
<part name="parameters" element="tns:getImagen"/>
</message>
<message name="getImagenResponse">
<part name="parameters" element="tns:getImagenResponse"/>
</message>
<message name="nuevoCliente">
<part name="parameters" element="tns:nuevoCliente"/>
</message>
<message name="nuevoClienteResponse">
<part name="parameters" element="tns:nuevoClienteResponse"/>
</message>
<message name="nuevaPeli">
<part name="parameters" element="tns:nuevaPeli"/>
</message>
<message name="nuevaPeliResponse">
<part name="parameters" element="tns:nuevaPeliResponse"/>
</message>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="buscarPeli">
<part name="parameters" element="tns:buscarPeli"/>
</message>
<message name="buscarPeliResponse">
<part name="parameters" element="tns:buscarPeliResponse"/>
</message>
<message name="getPrecio">
<part name="parameters" element="tns:getPrecio"/>
</message>
<message name="getPrecioResponse">
<part name="parameters" element="tns:getPrecioResponse"/>
</message>
<message name="resetearCampo">
<part name="parameters" element="tns:resetearCampo"/>
</message>
<message name="resetearCampoResponse">
<part name="parameters" element="tns:resetearCampoResponse"/>
</message>
<portType name="Service">
<operation name="asignarCampo">
<input wsam:Action="http://service.com/Service/asignarCampoRequest" message="tns:asignarCampo"/>
<output wsam:Action="http://service.com/Service/asignarCampoResponse" message="tns:asignarCampoResponse"/>
</operation>
<operation name="consultaCampo">
<input wsam:Action="http://service.com/Service/consultaCampoRequest" message="tns:consultaCampo"/>
<output wsam:Action="http://service.com/Service/consultaCampoResponse" message="tns:consultaCampoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://service.com/Service/loginRequest" message="tns:login"/>
<output wsam:Action="http://service.com/Service/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="listaPeli">
<input wsam:Action="http://service.com/Service/listaPeliRequest" message="tns:listaPeli"/>
<output wsam:Action="http://service.com/Service/listaPeliResponse" message="tns:listaPeliResponse"/>
</operation>
<operation name="getTipo">
<input wsam:Action="http://service.com/Service/getTipoRequest" message="tns:getTipo"/>
<output wsam:Action="http://service.com/Service/getTipoResponse" message="tns:getTipoResponse"/>
</operation>
<operation name="getHora">
<input wsam:Action="http://service.com/Service/getHoraRequest" message="tns:getHora"/>
<output wsam:Action="http://service.com/Service/getHoraResponse" message="tns:getHoraResponse"/>
</operation>
<operation name="getImagen">
<input wsam:Action="http://service.com/Service/getImagenRequest" message="tns:getImagen"/>
<output wsam:Action="http://service.com/Service/getImagenResponse" message="tns:getImagenResponse"/>
</operation>
<operation name="nuevoCliente">
<input wsam:Action="http://service.com/Service/nuevoClienteRequest" message="tns:nuevoCliente"/>
<output wsam:Action="http://service.com/Service/nuevoClienteResponse" message="tns:nuevoClienteResponse"/>
</operation>
<operation name="nuevaPeli">
<input wsam:Action="http://service.com/Service/nuevaPeliRequest" message="tns:nuevaPeli"/>
<output wsam:Action="http://service.com/Service/nuevaPeliResponse" message="tns:nuevaPeliResponse"/>
</operation>
<operation name="getNombre">
<input wsam:Action="http://service.com/Service/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://service.com/Service/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="buscarPeli">
<input wsam:Action="http://service.com/Service/buscarPeliRequest" message="tns:buscarPeli"/>
<output wsam:Action="http://service.com/Service/buscarPeliResponse" message="tns:buscarPeliResponse"/>
</operation>
<operation name="getPrecio">
<input wsam:Action="http://service.com/Service/getPrecioRequest" message="tns:getPrecio"/>
<output wsam:Action="http://service.com/Service/getPrecioResponse" message="tns:getPrecioResponse"/>
</operation>
<operation name="resetearCampo">
<input wsam:Action="http://service.com/Service/resetearCampoRequest" message="tns:resetearCampo"/>
<output wsam:Action="http://service.com/Service/resetearCampoResponse" message="tns:resetearCampoResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="asignarCampo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaCampo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaPeli">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHora">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevoCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevaPeli">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPeli">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrecio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetearCampo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://localhost:8080/ServidorCines/Service"/>
</port>
</service>
</definitions>